.header{
	display: block;
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
    background-color: #f2f6fa;
    border: 1px solid rgba(27,31,35,0.05);
    border-radius: 3px 3px 0 0;
}
.readme_body{
	padding: 5px;
	padding-bottom: 30px;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid rgba(27,31,35,0.05);
    border-top: 0;
    border-bottom: 0;
}
.footer{
	display: block;
    padding: 9px 10px 10px;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    background-color: #f2f6fa;
    border: 1px solid rgba(27,31,35,0.05);
    border-radius: 0 0 3px 3px;
}
.fixed-btn {
	position: fixed;
	right: 2%;
	bottom: 2%;
	width: 40px;
	/*border: 1px solid #eee;
	background-color: white;*/
	z-index: 1040;
}
.fixed-btn .go-top {
    /*border-bottom: 1px solid #eee;*/
}
.fixed-btn .go-home {
    /*solid #eee;*/
}